<%- include("templates/header") %>

<div class="container-fluid p-5">
    <form action="/update/<%= docs.id %>" method="post">
        <div class="modal-body">
          <h2 class="mb-3">Actualizar contacto</h2>
          <div class="row">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Nombres</label>
              <input type="text" class="form-control" required name="name" id="name" value="<%= docs.name %>" >
            </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
              <input type="text" class="form-control"  required name="lastName" id="lastName" value="<%= docs.lastName %>" >
            </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input type="email" class="form-control"  required name="email" value="<%= docs.email %>"
                id="email">
            </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Fecha de nacimiento</label>
              <input type="date" class="form-control" name="birthDate" id="birthDate" value="<%= docs.birthDate %>">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="/" class="btn btn-danger" >Cancelar</a>
          <input type="submit" value="Actualizar" class="btn btn-success">
        </div>
      </form>
      <% if(docs.imagen != 'none'){%>
        <div class="row">
          <div class="mb-3 col-3">
            <label class="form-label">Cambiar imagen (<%= docs.image %>)</label>
            <form action="/updateImage/<%= docs.id %>" method="post" enctype="multipart/form-data">
              <div class="row d-flex">
                <div class="col-9">
                  <input type="text" hidden="true" required name="imagendelete" id="imagendelete" value="<%= docs.image %>">
                  <input type="file" class="form-control" required name="imagenupdate" id="imagenupdate">
                </div>
                <div class="col-3">
                  <input class="btn btn-primary" type="submit" value="Enviar">
                </div>
              </div>
            </form>
          </div>
        </div>
      <%} %>
</div>

<%- include("templates/footer") %>